
// ============================================================
// Manifest
// ============================================================
manifest {
    name            = 'Bulk RNA-Seq pipeline'
    author          = 'Leinal Alen Sejour'
    version         = '2.0.0'
    nextflowVersion = '25.10'
    description     = 'Bulk RNA-Seq QC, trimming, mapping and quantification pipeline'
    mainScript      = 'modularized_pipeline.nf'
}

nextflow.enable.dsl = 2

process {

    withName: 'FASTQC' {
        cpus = 2
        memory = '8 GB'
        conda = 'bioconda::fastqc=0.12.1'
    }
    withName: 'CUTADAPT' {
        cpus = 8
        memory = '16 GB'
        conda = 'bioconda::cutadapt=5.2'
    }
    withName: 'MULTIQC|FEATURECOUNTSMULTIQC|FINALMULTIQC' {
        cpus   = 2
        maxForks = 6
        memory = '8 GB'
        conda  = 'bioconda::multiqc=1.32'
    }
    withName: 'STAR' {
        cpus = 6
        maxForks = 4
        memory = '32 GB'
        conda = 'bioconda::star=2.7.11b'
    }
    withName: 'ALTERNATIVESTAR' {
        cpus = 6
        maxForks = 4
        memory = '32 GB'
        conda = 'bioconda::star=2.7.11b'
    }
    withName: 'STAR_INDEX' {
        cpus = 4
        memory = '64 GB'
        conda = 'bioconda::star=2.7.11b'
    }
    withName: 'SALMON' {
        cpus = 6
        maxForks = 4
        memory = '32 GB'
        conda = 'bioconda::salmon=1.10.2'
    }
    withName: 'SALMON_INDEX' {
        cpus = 4
        memory = '64 GB'
        conda = 'bioconda::salmon=1.10.2 bioconda::bedtools==2.29.2 bioconda::mashmap==2.0'
    }
    withName: 'READCOUNTS' {
        cpus = 4
        maxForks = 6
        memory = '16 GB'
        conda = 'subread=2.0.6'
    }
    withName: 'GATHERGENEIDS|GATHERLOGS|MERGEMULTIQCS' {
        cpus   = 2
        maxForks = 6
        memory = '8 GB'
        conda  = 'conda-forge::r-base=4.3 bioconda::bioconductor-tximport conda-forge::r-dplyr conda-forge::r-data.table conda-forge::r-tibble'
    }
    withName: 'STAR_FIRST_PASS|STAR_SECOND_PASS' {
        cpus = 6
        maxForks = 4
        memory = '32 GB'
        conda = 'bioconda::star=2.7.11b'
    }
    withName: 'MERGE_SJ' {
        cpus = 2
        maxForks = 6
        memory = '8 GB'
        conda = 'conda-forge::gawk=5.3.0'
    }

}

profiles {

    local {

        conda.enabled = true
        conda.cacheDir = "${HOME}/.nextflow/conda"
        process.conda = 'environment.yml'

        executor {

            name 	  	 = 'local'
            cpus		   = 12
            queueSize  = 8
            pollInterval	 = '30sec'
            memory    	 = '300 GB'

        }

    }

}


params {

    genome_index = ""
    salmon_index = ""
    rRNA_index = ""
    rRNA_Spacers_index = ""
    genome_id_file = ""

    genome_annot_file = ""
    genome_fasta_file = ""
    transcriptome_file = ""

    decoy_script = "${projectDir}/bin/SalmonTools/scripts/generateDecoyTranscriptome.sh"
    tx2gene_extraction_script = "${projectDir}/bin/tx2gene_extraction_annot.R"
    stranded_script = "${projectDir}/bin/findStrandedness.pl"
    adapters = "${projectDir}/bin/adapter_sequences.fa"
    multiqc_config = "${projectDir}/bin/multiqc_config.yaml"
    tx2gene_salmon_file = "${projectDir}/bin/tx2gene_salmon.R"
    merger_file = "${projectDir}/bin/MergeFinal_Table.R"

}


// ============================================================
// Execution reports (saved to results/pipeline_info/)
// ============================================================
def trace_dir = "${params.output}/pipeline_info"

timeline {
    enabled = true
    file    = "${trace_dir}/execution_timeline.html"
}

report {
    enabled = true
    file    = "${trace_dir}/execution_report.html"
}

trace {
    enabled   = true
    file      = "${trace_dir}/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file    = "${trace_dir}/pipeline_dag.html"
}
